input[type=text]{
    width:100px;
    border:1px solid #000;
    font-weight: bold;
}

select {
    width:108px;
    border:1px solid #000;
    font-weight: bold;
}

button {
    font-weight: bold;
}

textarea {
    font-weight: bold;
    margin-left: 200px;
    margin-top: 0px;
    width: 200px;
    height: 100px;
    resize: none;
}